<div id = "back">
<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class="palm-row single">
		<div class="title">
					<div id = "test"> </div>
			</div>
		</div>
	</div>
</div>

 <div x-mojo-element="Button" id="newStory" name="newStory"></div>
 
<div x-mojo-element="Button" id="submit" name="submit"></div>
<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class="palm-row single">
		<div class="palm-row-wrapper">
					  <div x-mojo-element="ListSelector" id="methods"></div>
			</div>
		</div>
	</div>
</div>
 <div x-mojo-element="Spinner" id="spinner"></div> </div>     
 
